.icons-sprite, .icons-info, .icons-info2, .icons-info3 {
  background-image: url('../img/icons-s1741c5d146.png');
  background-repeat: no-repeat;
}

.icons-info {
  background-position: 0 0;
}

.icons-info2 {
  background-position: 0 -216px;
}

.icons-info3 {
  background-position: 0 -416px;
}

li {
  list-style: none;
  display: inline-block;
  padding: 10 px;
}
li a {
  display: inline-block;
  width: 200px;
  height: 200px;
}
li a span {
  position: absolute;
  top: -99999em;
  left: -99999em;
}
